# Eclipse
firmware/.metadata
firmware/.settings
firmware/[Rr]elease
firmware/[Dd]ebug
firmware/.launch

# KiCad
# hardware/*
# !hardware/pulse_generator.kicad_pro
# !hardware/pulse_generator.kicad_pcb
# !hardware/pulse_generator.kicad_sch